<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<!-- //ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js THIS WOULD BE IN PRODUCTION (because of the size ...)-->
<!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>-->
<script src="../js/angular.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/controllers.js"></script>
</head>
<body>
	<div ng-controller='HelloController'>
		<p>{{greeting.text}}, World</p>
	</div>
</body>
</html>